
<div class="container-fluid full-width pt-4 pb-4 zbg-light">

    <h3 class="col-12 text-center mb-4">Find homes to buy or rent and check house prices</h3>

    <div class="card text-center ms-5 me-5">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#">For sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">To rent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">House prices</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title text-start">Enter a location</h5>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="e.g. Oxford or NW3" aria-label="Search">
          <button class="btn btn-primary d-flex align-items-center justify-content-center" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search me-2" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            Search
          </button>
        </form>
      </div>
    </div>
  
</div>
