<div class="container-fluid full-width pt-4 pb-4 zbg-light">
  <div class="row">

    <h3 class="col-12 text-center mb-4">Find homes to buy or rent and check house prices</h3>
  
    <div class="card col-8 ms-auto me-auto">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#">For sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">To rent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">House prices</a>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <h5 class="card-title text-start">Enter a location</h5>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="e.g. Oxford or NW3" aria-label="Search">
          <button class="btn btn-primary btn-lg d-flex align-items-center justify-content-center" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search me-2" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            Search
          </button>
        </form>
      </div>
    </div>
    
  </div>
</div>

<div class="zbg-dark p-5 rounded-end-4 mt-4 me-5">
  <h3>Moving? There's an agent for that</h3>
  <p>Zoopla's latest estimate for 9 Bishops Court, Heather Drive, Andover, SP10 3RS is £166,000. Get the most accurate valuation from an agent (or three).</p>
  <button type="button" class="btn btn-outline-light">Arrange an in-person valuation</button>
</div>

<div class="zbg-teal p-5 rounded-end-4 mt-4 me-5 row pt-0 pb-0 pe-0">
    <div class="col-6 pt-5">
      <h3>Value your home</h3>
      <p>Get an instant online valuation to see what it's worth.</p>
      <button type="button" class="btn btn-outline-dark">Get an instant valuation</button>
    </div>
    <div class="col-6 pe-0">
      <img src="../../assets/img/A013C019_220527_R2GW_01_00_24_08_Graded_1611951_cropped_1500__2_.avif" alt="" class="img-fluid rounded-end-4">
    </div>
</div>

<div class="zbg-light p-5 rounded-end-4 mt-4 me-5 row pt-0 pb-0 pe-0">
    <div class="col-6 pt-5">
      <h3>See what local agents think your home is worth</h3>
      <p>Arrange for local estate agents to value your home for free. No strings attached.</p>
      <button type="button" class="btn btn-outline-dark">Get a free agent valuation</button>
    </div>
    <div class="col-6 pe-0">
      <img src="../../assets/img/Illustration_valuation.svg" alt="" class="img-fluid">
    </div>
</div>