.zbg-dark {
  color: white;
  background-color: #322744;
}

.zbg-teal {
  background-color: #e6fafa;
}

.zbg-light {
  background-color: #fae1f5;
}

.btn-primary {
  background-color: #8046f1;
  border-color: #8046f1;
}